@{
}

<div class="taskDetailed">
    <div class="taskName"><span>Задача</span></div>
    <div class="currentTask">
        <div class="taskDetailedHeader">Список целей</div>
        <ul class="purpose">
            <li>
                <div class="purposeHeader">Цель 1</div>
                <div class="purposeDesc pDescOff">Описание цели Описание цели Описание цели Описание цели Описание цели Описание цели Описание цели Описание цели Описание цели Описание цели Описание цели </div>
            </li>
        <ul/>
    </div>
    <div class="overdueTask">
        <div class="taskDetailedHeader">Просроченные задачи</div>
    </div>
    <div class="completedTask">
        <div class="taskDetailedHeader">Выполненые задачи</div>
    </div>
</div>