@{
    Layout = null;
}

<div class="taskDetailed">
    <div class="taskName">Задача</div>
    <div class="currentTask">
        <div class="taskDetailedHeader">Список целей</div>
    </div>
    <div class="overdueTask">
        <div class="taskDetailedHeader">Просроченные задачи</div>
    </div>
    <div class="completedTask">
        <div class="taskDetailedHeader">Выполненые задачи</div>
    </div>
</div>
