@{
    Layout = null;
}

<div class="taskDetailed">
    <div class="taskName">Задача</div>
    <div class="currentTask">Текущие задачи</div>
    <div class="overdueTask">Просроченные задачи</div>
    <div class="completedTask">Выполненые задачи</div>
</div>
