@{
}

<div class="taskDetailed">
    <div class="taskName"><span class="header">Задача</span></div>
    <div class="currentTask">
        <div class="taskDetailedHeader"><span>Список целей</span><span id="addPurpose" class="actBtn">+</span></div>
        <ul class="purpose">
            
        <ul/>
    </div>
    <div class="overdueTask">
        <div class="taskDetailedHeader">Просроченные задачи</div>
        <ul class="purpose">
            
        <ul/>
    </div>
    <div class="completedTask">
        <div class="taskDetailedHeader">Выполненые задачи</div>
        <ul class="purpose">
            
        <ul/>
    </div>
</div>